<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="HotelConnString" connectionString="Server=tcp:hotelproj.database.windows.net,1433;Initial Catalog=HotelDB;Persist Security Info=False;User ID=adminpalbiswas;Password=PalBiswas@123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	<customErrors mode="Off"/>
	</system.web>
  
</configuration>
